.card{
    border-radius: 20px;
}

.menu li{
    padding: 10px;
}

.menu-list{
    transform: rotate(90deg);
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.modal-active {
    display: block !important;
}

#fechar-modal {
    font-size: 50px;
    color: white;
}